.main-container
{
  display:flex;
  height:80vh;
}
.upper-container {
  background-color: violet;
  display: flex;
  flex:1;
  background-color: aqua;
}
.Video-Section
{
  flex:4;
  background-color: blueviolet;
}
.Video-Section h1
{
  text-align: center;
}
.lower-container {
  position: relative;
  height: 20vh;
}
.room-members {
  background-color: yellow;
  width: 20%;
  height: 100%;
}
.controlarea-container
{
  padding-top:60vh;
  padding-left:35vw;
}
.chatting-area {
  background: red;
  width: 60%;
  height: 100%;
}
