.control-area
{
    flex:1;
    display:flex;
    flex-direction: column;
    width:20%;
    height:100%;
}
.control-area >div {
    background-color: green;
    margin-top:auto;
}
.icon{
    padding:1.5rem;
}
