.App
{
    height:100%;
}
.upper-container
{
    display: flex;
    width:100%;
    height:40rem;
}
.lower-container
{
    min-height: 20rem;
}
.room-members
{
    background-color:yellow ;
    width:20%;
}
.music-area
{
    background-color: blue;
    min-height: 10rem
}
.chatting-area
{
    background: red;
    width:60%;

}
.control-area
{
    flex:1;
    width:20%;
}